{{#if resume.education.length}}
<div class="container education-container">
    {{> title value="Formation"}}

    {{#each resume.education}}
        <section class="item">
            {{> section-header name=(concat studyType) }}
            {{#if area}}
                <h4>{{area}}</h4>
            {{/if}}
            {{#if institution}}
                <h5>{{institution}} </h5>
            {{/if}}

            {{#if gpa}}
                <h5>{{gpa}}</h5>
            {{/if}}

            {{#if courses.length}}
            <ul class="two-column">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}